name: Run PRT tests on Popper
on: [push]
jobs:
  prt-test:
    runs-on: ubuntu-latest
    container: rpgoldman/popper-prt:latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: setup
        run: python -m pip install --break-system-packages --root-user-action=ignore $GITHUB_WORKSPACE
      - name: check-cpus
        run: lscpu
      - name: do_tests
        run: |
          cd /popper-prt
          export PATH="/prt:${PATH}"
          POPPER_PYTHON=`which python` POPPER_DIR=${GITHUB_WORKSPACE} MAXPARALLEL=4 ./parallel-prt.sh
      - name: move_results
        if: always()
        run: |
          cd /popper-prt
          mv results ${GITHUB_WORKSPACE}
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: prt-results
          path: results/*
